.contactenos{
  
  background-color: #285FB4;
  height: 65vh;    
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;  
  color: #fff;
  font-size: 18px;
  padding-right: 10rem;
}