.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main img{
    padding: 1rem;
}

.producto{
    /* border: 1px #f0e9e9 solid; */
    margin: 1rem;
}
#producto {
    width: 80%;
    max-width: 400px;
    height: 15rem;
}

.prod-info{
    padding: 1rem;
}